* {
    margin: 0%;
    padding: 0%;
}


.header {
    text-align: center;
    font-size: 3em;
}

.subheader {
    text-align: center;
    font-size: 2em;
}

#camrea {
    width: 50%;
    height: 35em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30em;
}

.info {
    font-size: 1rem;
}
.btn {
    padding: 2em;
    margin: 0.5em;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    }


