<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot</title>
    <link rel="stylesheet" href='/static/main.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <h1 class="header">Robot controller</h1>
    
<h2 class="subheader">Move the robot with the buttons</h2>

<div class="center">
<form  method="post" action="/">
    <input id="forwardBtn" class ="btn btn-success btn" type="submit" value="Forward" name="Forward"/>
    <input id="leftBtn" class ="btn btn-success btn" type="submit" value="Left" name="Left"/>
    <input id="rightBtn" class ="btn btn-success btn" type="submit" value="Right" name="Right"/>
    <input id="backwardBtn" class ="btn btn-success btn" type="submit" value="Backward" name="Backward" />
    <input id="stopBtn" class ="btn btn-danger btn" type="submit" value="Stop" name="Stop" />
</form>

</div>

<div class="center">

    <h2 id="controller-status" class="subheader">No Controller Connected</h2>


    <h2 class="subheader">To have the robot worder around press the button bellow</h2>

    <br>

    <form action="/page2">
        <input class="btn btn-success btn" type="submit" value="Start Script[t" />
    </form>


    
</div>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>


    <script>

        const forwardBtn = document.getElementById("forwardBtn");
        const leftBtn = document.getElementById("leftBtn");
        const rightBtn = document.getElementById("rightBtn");
        const backBtn = document.getElementById("backwardBtn");
        const stopBtn = document.getElementById("stopBtn");

        
        window.addEventListener('gamepadconnected', function(event) {
        
          console.log(event) 
          updateLoop();
          document.getElementById('controller-status').innerText = "controller connected"
        });
        
        window.addEventListener('gamepaddisconnected', function(event) {
          document.getElementById('controller-status').innerText = "controller disconected"
        });
        
        
        
        function updateLoop() {
        
        var gp = navigator.getGamepads()[0];
        
        if (gp.buttons[4].pressed && gp.buttons[5].pressed) {
            forwardBtn.click();
            } 
        else if (gp.buttons[5].pressed) {
                rightBtn.click();
            }
            
        else if  (gp.buttons[4].pressed) {
            stopBtn.click();
            }
            
        
        requestAnimationFrame(updateLoop);
        
        }
        </script>



</body>
</html>
