<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot</title>
    <link rel="stylesheet" href='/static/main.css' />
</head>
<body>
    <h1 class="header">Robot controller</h1>

    <h2 class="subheader">Live vido feed</h2>
    <div>

        <img id="camrea-frame" src="{{ url_for('video') }}"/>
    </div>


    
<h2 class="subheader">Move the robot with the D-pad below</h2>


<form method="post" action="/">

    <input type="submit" value="Forward" name="Forward"/>
    <input type="submit" value="Left" name="Left"/>
    <input type="submit" value="Right" name="Right"/>
    <input type="submit" value="Backward" name="Backward" />
    <input type="submit" value="Stop" name="Stop" />


</form>

</body>
</html>